{% from '_utils.njk' import Header %}

{% set title = 'Index' %}
{% extends '_base.njk' %}
{% block body %}
    {{ Header() }}

    <h1>Index</h1>
    <p>Hello, {{ f.name.firstName() }} {{ f.name.lastName() }}!</p>
    {% for i in range(1, 5) %}
        <p>{{ f.lorem.words(randint(2,10)) }}</p>
    {% endfor %}
{% endblock %}