@import 'vars';

body {
  color: $color-main;
  font-size: 18px;
}

/* below code is unused in HTML and will de deleted by unCSS */

.block1 {
  color: red;

  &__element {
    color: blue;
  }

  // below properties are incorrect and should be validated by stylelint
  INCORRECT_PROPERTY: 123;
  font-size: INCORRECT_VALUE;
  padding: 0px;
}

.block2 {
  color: red;
  /* will be autoprefixed */
  /* doiuse will NOT warn about browser support (we add flexbox to its ignore) */
  display: flex;
  font-family: "BryantProRegular", 'Helvetica Neue', helvetica, arial, sans-serif;
}

.img-fit {
  /* doiuse will warn about browser support */
  object-fit: scale-down;
}