@import 'vars';

body {
    color: $color-main;
    font-size: 18px;
}

.class1 {
    color:red;
}
.class2 {
    color:red;
    display: flex;
    font-family: "BryantProRegular", 'Helvetica Neue', helvetica, arial, sans-serif, "Helvetica Neue";
}